.up{
	display: flex;
	background-color: white;
	border-radius: 15px 15px;
	height: 100px;
	margin: auto 1%;
}
.up a{
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	padding: 20px 100px;
	color: grey;
}
body{
	background-color: #898181;
} 
.logo{
	width: 60px;
	height: 60px;
	margin-left: -40px;
	margin-top: 0px;	
}